.Tile {
    &::before, &::after {
        display: block;
    }

    &::before {
        content: attr(data-title);
        font-size: 200%;
    }
    &::after {
        content: attr(data-paragraph);
    }
}
